
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;   /*Space each sentence*/
    /*font: 15px/1.5 Arial, Helvetica,sans-serif;*/
    padding: 0;
    margin: 0;
    background-color: lightgrey;
}


/* global */
.container{     /*want to be responsive*/
    width: 80%;
    margin: auto;
    overflow: hidden; 
}

.highlight{
    color: #ff0921;
}

ul{
    margin: 0;
    padding: 0;
}

.button_1{
    height: 38px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
}

.dark{
    padding: 15px;
    background: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Header */
header{
    background:#ffffff;
    color:#bababa;
    padding-top: 20px;
    min-height: 60px;
    border-bottom: #e8491d solid;
}

header a{
    color:#35424a;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px; 
}

header li{
    float: left; /* make on one line */
    display: inline; /* drop the point */
    padding: 0 20px 0 20px ;/* top right bottom left */
    position: relative;
}

header #branding{
    float: left;
}

header #branding h1{
    margin: 0;      /* align */
    margin-top: -3px;
}

header nav{
    float: right;
    margin-top: 8px;
}

header .current a{
    color: #e8491d;
    font-weight: bold; 
}


header li::after{
    content: '';
    position: absolute;
    width: 80%;
    margin: 0 auto;
    transform: scaleX(0);
    height: 2px;
    bottom: -5px;
    left: 10%;
    background-color: #e8491d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

header li:hover::after{
    transform: scaleY(1);
    transform-origin: bottom left;
}



/* Showcase */
#showcase{
    min-height: 700px;
    background: url('../img/home.jpg') no-repeat 0 -350px;
    text-align: center;
    color: #ffffff;
}

#showcase h1{
    margin-top: 100px;
    font-size: 40px;
    margin-bottom: 10px;
}

#showcase p{
    font-size: 15px;
}

/* newsletter */ 
#newsletter{
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 15px;
}

#newsletter input[type='email']{
    padding: 4px;
    height: 25px;
    width: 250px;
}

/* Boxes */
#boxes{
    margin-top: 20px;
}

#boxes .box{
    float: left;
    text-align: center;
    width: 30%;
    padding: 10px;
}

#boxes .box img{
    width: 90px;
}

/* Sidebar */
#sidebar{
    float: right;
    width: 30%;
    margin-top: 10px;
}

#sidebar .quote input, #sidebar .quote textarea{
    width: 90%;
    padding: 5px;
}

/* Main-col */
#main-col{
    float: left;
    width: 65%;
}

/* Cesi */ 
#cesi li{
    list-style: none;
    padding: 20px;
    border: #cccccc solid 1px;
    margin-bottom: 5px;
    background: #e6e6e6;
}

footer{
    padding: 1px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
}

/* Media Queries */ 
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    #main-col,
    #sidebar{
        float: none;
        text-align: center;
        width: 100%;
    }

    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }

    #newsletter button, .quote button{
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width: 100%;
        margin-bottom: 5px;
    }
}
